
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.table {
border-collapse: collapse;
width: 100%;
  }
  .th{
    text-align: center;
    margin: 15px;
    color: white;
    font-family: system-ui;
  }
 
.h2{
  color:  #FF1493;
}
.thead{
  border: 1px solid #FF1493;
  background-color: #DB7093;
  text-align: center;
  padding: 8px;
  font-size: 17px;
} 
 
.add{
  background-color: #DB7093;
  border: 2px solid #20B2AA;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  margin: 15px;
  color: white;

}
.input {
  background-color: #E0FFFF;
  border: 1px solid #20B2AA;
}
.button{
  border: 2px solid #20B2AA;
  font-weight: bolder;
  background-color: #E0FFFF;
  }